
  <div class= "container memes-view"></div>
    {{#each dbMemes}}
    <div class="col-md">
        <div>
            <img class="meme" src="{{instanceImageUrl}}" title="{{displayName}}">
        </div>
    </div>
    {{/each}}
  </div>

</div>