html{
    height: 100%;
  }
  html, body {
    font-family: sans-serif;
    width: 100wh;
    /* height: 90vh; */
    background-color: rgb(35, 41, 213);

    /*gradient start */
    background: linear-gradient(-45deg, rgb(220, 17, 17), rgb(84, 0, 157), rgb(35, 41, 213), rgb(0, 0, 0));
    background-size: 4000% 4000%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100%;
  }

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  /*gradient end */

  /* navbar start */
  .wrapper{
    /* overflow: hidden; */
    position: relative;
    /* height: 250px; */
  }

  .container {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  
  header{
    background:black;
    border-block-end:white;
    overflow: hidden;
  }
  
  svg{
    cursor: pointer;
    width: 100px;
    height: 50px;
    float: left;
  }
  
  svg path{
    stroke-width: 25;
    stroke-linecap: round;
    stroke: #fff;
    fill: none;
    transition: all .5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar{
    stroke-dasharray: 240px 910px;
  }
  
  .middle_bar{
    stroke-dasharray: 240px 240px;
  }
  
  .open .top_bar,
  .open .bottom_bar{
    stroke-dashoffset: -650px;
  }
  
  .open .middle_bar{
    stroke-dasharray: 0px 220px;
    stroke-dashoffset: -120px;
  }
  
  .logo{
    float: left;
    margin-left: 25px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav{
    max-width: 200px;
    background:black;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
    transition: all .5s;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav a{
    display: block;
    padding-left: 25px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #f2f2f2;
    transition: all .35s;
  }
  
  nav a:hover{
    background: #fff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #e8e8e8;
  }
  
  .sidebar_open nav{
    transform: translateX(0);
    height: 250px;
    z-index: 1;
  }
  
  /* navbar end */
  
  /* seach bar start*/
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: black;
    border: 3px solid white;
  }
  
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid; 
    text-align: center;
    background: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
  }
  
  .search-icon {
    color: white;
  }
  
  .wrap{
    width: 220px;
    margin: auto;
  }
  
  /* search bar end */
  
  /* buttons */
  
  .btn-wrap{
    width: 30px;
    margin: auto;
  }

  #btnPop {
    background-color: black;
    color: white;
    width: 180px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #btnRec {
    background-color: black;
    color:white;
  }

  #btnRan {
    background-color: black;
    color:white;
  }
  
  .catergory-btn {
    display: block;
    margin: auto;
  }
  /* Kenneth's stuff. This was created for the Meme rendering */
  .memes-view {
    position: relative;
    top: 42.5%; 
  }
  
  .meme {
    width: 200px;
    height: 200px;
    padding: 5px;
    float: left;
    z-index: 1;  
  }
  /* End Kenneth's stuff */

  .memeItem {
    margin-bottom: 2rem;
  }

  .meme-button {
    position: absolute;
    left: 20px;
    top: 200px;
  }

  .below-content {
    position: relative;
    top: 42.5%; 
  }

  .button-like {
    border: 2px solid #8a8a8a;
    background-color: #f8f8f8;
    color: #8a8a8a;
  }

  .button-unlike, .button-dud {
    border: 2px solid #cc4b37;
    background-color: #f8f8f8;
    color: #cc4b37;
  }

  .button-like, .button-unlike, .button-dud {
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    border-radius: 3rem;
    transition: all ease 0.4s;
    cursor: pointer;
    position: absolute;
  }
  .button-like span {
    margin-left: 0.5rem;
  }
  .button-like .fa,
  .button-like span {
    transition: all ease 0.4s;
  }
  .button-like:focus {
    outline: 0;
  }
  .button-like:focus .fa,
  .button-like:focus span {
    color: #8a8a8a;
  }
  .button-like:hover {
    border-color: #cc4b37;
  }
  .button-like:hover .fa,
  .button-like:hover span {
    color: #cc4b37;
  }
  .liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  .liked .fa,
  .liked span {
    color: #fefefe;
  }
  .liked:focus {
    background-color: #cc4b37;
  }
  .liked:focus .fa,
  .liked:focus span {
    color: #fefefe;
  }
  .liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
  }
  .liked:hover .fa,
  .liked:hover span {
    color: #fefefe;
  }

  .logo-row {
    display: block;
    /* position: sticky; */
    top: 60px;
  }
  .our-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .header-logo {
    height: 40px;
  }

  /* For the Footer and credits */
  footer {
    margin-top: 2rem;
    padding-top: 1rem;
    line-height: .5rem;
    color: #8e9192;
    text-align: center;
    background-color: black;
  }
  a.footer-link, a:visited {
    color: #8e9192;
  }
  a.footer-link:hover, a:visited:hover {
    color: white;
  }

  /* if screen or window size is 520px or less */
  @media screen and (max-width: 520px) {
    .logo-row {
      display: none;
    }
    .meme {
      width: 300px;
      height: 300px;
    }
    .meme-button {
      top: 300px;
    }
    .meme-item {
      display: block;
      width: 90%;
      margin: auto;
    }
    .container {
      margin-bottom: 6rem;
    }
  }