html{
    height: 100%;
  }
  body{
    font-family: sans-serif;
    width: 100wh;
    height: 90vh;
    color: #fff;

    /*gradient start */
    background: linear-gradient(-45deg, rgb(220, 17, 17), rgb(84, 0, 157), rgb(35, 41, 213), rgb(0, 0, 0));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100%;
  }

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  /*gradient end */
  
  .wrapper{
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  /* navbar start */
  
  header{
    background:black;
    border-block-end:white;
    overflow: hidden;
  }
  
  svg{
    cursor: pointer;
    width: 100px;
    height: 50px;
    float: left;
  }
  
  svg path{
    stroke-width: 25;
    stroke-linecap: round;
    stroke: #fff;
    fill: none;
    transition: all .5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar{
    stroke-dasharray: 240px 910px;
  }
  
  .middle_bar{
    stroke-dasharray: 240px 240px;
  }
  
  .open .top_bar,
  .open .bottom_bar{
    stroke-dashoffset: -650px;
  }
  
  .open .middle_bar{
    stroke-dasharray: 0px 220px;
    stroke-dashoffset: -120px;
  }
  
  .logo{
    float: left;
    margin-left: 25px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav{
    max-width: 200px;
    background:black;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
    transition: all .5s;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav a{
    display: block;
    padding-left: 25px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #f2f2f2;
    transition: all .35s;
  }
  
  nav a:hover{
    background: #fff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #e8e8e8;
  }
  
  .sidebar_open nav{
    transform: translateX(0);
  }
  
  /* navbar end */
  
  /* seach bar start*/
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: black;
    border: 3px solid white;
  }
  
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid; 
    text-align: center;
    background: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .search-icon {
    color: white;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* search bar end */
  
  /* buttons */
  
  .btn-wrap{
    display: flex;
    justify-content: center;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    border:black;
    align-content: center;
    transform: translate(-50%, -50%);
  }

  #btnPop {
    background-color: black;
    color: white;
  }

  #btnRec {
    background-color: black;
    color:white;
  }

  #btnRan {
    background-color: black;
    color:white;
  }
  
  .catergory-btn {
    margin: 25px;
  }


  .memes-view {
    position: relative;
    top: 42.5%;
    
  }
  .meme {
    width: 150px;
    height: 150px;
    padding: 5px;
    float: left;    
  }
