html{
    height: 100%;
  }
  body{
    font-family: sans-serif;
    width: 100wh;
    height: 90vh;
    color: #fff;

    /*gradient start */
    background: linear-gradient(-45deg, rgb(220, 17, 17), rgb(84, 0, 157), rgb(35, 41, 213), rgb(0, 0, 0));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100%;
    margin: 0;
  }

  @-webkit-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  
  @keyframes Gradient {
    0% {
    background-position: 0% 50%
    }
    50% {
    background-position: 100% 50%
    }
    100% {
    background-position: 0% 50%
    }
  }
  /*gradient end */

  /* navbar start */
  .wrapper{
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  header{
    background:black;
    border-block-end:white;
    overflow: hidden;
  }
  
  svg{
    cursor: pointer;
    width: 100px;
    height: 50px;
    float: left;
  }
  
  svg path{
    stroke-width: 25;
    stroke-linecap: round;
    stroke: #fff;
    fill: none;
    transition: all .5s ease-in-out;
  }
  
  /* In menu form */
  
  .top_bar,
  .bottom_bar{
    stroke-dasharray: 240px 910px;
  }
  
  .middle_bar{
    stroke-dasharray: 240px 240px;
  }
  
  .open .top_bar,
  .open .bottom_bar{
    stroke-dashoffset: -650px;
  }
  
  .open .middle_bar{
    stroke-dasharray: 0px 220px;
    stroke-dashoffset: -120px;
  }
  
  .logo{
    float: left;
    margin-left: 25px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav{
    max-width: 200px;
    background:black;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-110%);
    transition: all .5s;
  }
  
  nav ul{
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav a{
    display: block;
    padding-left: 25px;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #f2f2f2;
    transition: all .35s;
  }
  
  nav a:hover{
    background: #fff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #e8e8e8;
  }
  
  .sidebar_open nav{
    transform: translateX(0);
  }
  
  /* navbar end */
  
  /* seach bar start*/
  
  .search {
    width: 100%;
    position: relative
  }
  
  .searchTerm {
    float: left;
    width: 100%;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: black;
    border: 3px solid white;
  }
  
  .searchTerm:focus {
    color: black;
  }
  
  .searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid; 
    text-align: center;
    background: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .search-icon {
    color: white;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* search bar end */
  
  /* buttons */
  
  .btn-wrap{
    display: flex;
    justify-content: center;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    border:black;
    align-content: center;
    transform: translate(-50%, -50%);
  }

  #btnPop {
    background-color: black;
    color: white;
  }

  #btnRec {
    background-color: black;
    color:white;
  }

  #btnRan {
    background-color: black;
    color:white;
  }
  
  .catergory-btn {
    margin: 25px;
  }

/* gird start */
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* grid end */


/* hover button heart */

.button-like {
  border: 2px solid #8a8a8a;
  background-color: #f8f8f8;
  text-decoration: none;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
  float: right;
  margin: 15px;
  cursor: pointer;
  position: absolute;
}

.button-like span {
  margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
  transition: all ease 0.4s;
}

.button-like:focus {
  outline: 0;
}

.button-like:focus .fa,
.button-like:focus span {
  color: #8a8a8a;
}

.button-like:hover {
  border-color: #cc4b37;
}

.button-like:hover .fa,
.button-like:hover span {
  color: #cc4b37;
}

.liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked .fa,
.liked span {
  color: #fefefe;
}

.liked:focus {
  background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
  color: #fefefe;
}

.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
  color: #fefefe;
}

/* modal for img */

.modal-img {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from{transform: scale(0)}
  to{transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

  /* Kenneth's stuff. This was created for the Meme rendering */
  .memes-view {
    position: relative;
    top: 42.5%;
    
  }
  .meme {
    width: 150px;
    height: 150px;
    padding: 5px;
    float: left;    
  }